
.game{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
  .puzzle{
    text-align: center;
  }
  .board {
    display: grid;
    grid-template-columns: repeat(4,var(--size));
    grid-template-rows: repeat(4,var(--size));
    border-radius: 10px;
    position: relative;
  
    overflow: hidden;
    border: 10px solid #55ab9f;
  }
  .button-wrapper{
    display: flex;
    justify-content: center;
    gap:20px;
  }
  